[user]
	name = João Sampaio
	email = jpmelos@gmail.com

[core]
	editor = vim

[color]
	ui = always
	interactive = false

[alias]
	bl = blame --show-stats -s
	br = branch
	ci = commit -v
	co = checkout
	del = branch -D
	di = diff
	dst = diff --stat
	pa = add --patch
	ls = ls-tree -rt --name-only HEAD
	st = status
	sh = show
	shf = diff-tree --no-commit-id --name-only -r HEAD
	rb = rebase

[stoq]
        checkout = /home/jpmelos/devel
