[submodule ".vim/bundle/DfrankUtil"]
	path = .vim/bundle/DfrankUtil
	url = https://github.com/vim-scripts/DfrankUtil
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/grep.vim"]
	path = .vim/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/indexer.tar.gz"]
	path = .vim/bundle/indexer.tar.gz
	url = https://github.com/vim-scripts/indexer.tar.gz
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule ".vim/bundle/riv.vim"]
	path = .vim/bundle/riv.vim
	url = https://github.com/Rykka/riv.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/vimprj"]
	path = .vim/bundle/vimprj
	url = https://github.com/vim-scripts/vimprj
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
