[user]
    name = João Sampaio
    email = jpmelos@gmail.com

[core]
    pager = less -Q
    excludesFile = ~/.gitignore-global

[init]
    defaultBranch = main

[log]
    date = local

[status]
    showUntrackedFiles = all

[merge]
    conflictStyle = diff3

[rebase]
    updateRefs = true

[rerere]
	enabled = true

[commit]
    verbose = true
    gpgSign = true

[tag]
    gpgSign = true

[push]
    default = simple
    autoSetupRemote = true

[color "branch"]
    current = green dim bold
    remote = red dim

[color "status"]
    added = green dim
    changed = blue dim
    untracked = red dim

[color "diff"]
    meta = black bold
    frag = black
    new = green dim bold
    old = red dim bold
    whitespace = black red dim bold

[alias]
    b = branch
    bn = checkout -b
    bd = branch -D
    co = checkout
    main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
    cm = "!f(){ git checkout $(git main-branch) $@;}; f"
    cp = cherry-pick
    st = status
    d = diff
    dca = diff --cached
    a = add
    aa = add -A :/
    apa = add --patch
    c = commit
    ca = commit -a
    sh = show
    shf = show --name-status
    p = push
    psup = push --set-upstream
    pf = push --force-with-lease
    l = log --oneline --graph

[include]
    path = ~/devel/dotfiles/references/gitconfigs/gpg-keys

[includeIf "gitdir:~/devel/close/"]
    path = ~/devel/dotfiles/references/gitconfigs/close
