# General settings

# The ip address the listening socket and outgoing connections is bound to
bind = 0.0.0.0

# Port range to use for listening
port_range = 65101-65399

# Start opening ports at a random position within the port range
port_random = yes

# Perform hash check on torrents that have finished downloading
check_hash = yes

# Download directory
directory = /media/EXTERNAL/torrents

# Session directory
session = /media/EXTERNAL/torrents/.session

# Encryption
encryption = allow_incoming,enable_retry,try_outgoing,require,require_RC4

# Watch for new torrents
schedule = watch_directory,10,10,load_start=/media/EXTERNAL/torrents/\*.torrent

# Stop torrents whose files were deleted
schedule = untied_directory,5,5,stop_untied=

# Resume torrents whose files were put back
schedule = tied_directory,5,5,start_tied=

# Close torrents when diskspace is low
schedule = low_diskspace,5,60,close_low_diskspace=500M

# Throttle settings

# Global upload and download rate in KiB
upload_rate = 40
download_rate = 900

# Tracker related settings

# Connect to UDP trackers
use_udp_trackers = yes

# DHT
dht = off
