<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="libreoffice" label="LibreOffice">
  <item label="Writer">
    <action name="Execute">
      <command>libreoffice -writer</command>
    </action>
  </item>
  <item label="Calc">
    <action name="Execute">
      <command>libreoffice -calc</command>
    </action>
  </item>
  <item label="Impress">
    <action name="Execute">
      <command>libreoffice -impress</command>
    </action>
  </item>
  <item label="Draw">
    <action name="Execute">
      <command>libreoffice -draw</command>
    </action>
  </item>
  <item label="Math">
    <action name="Execute">
      <command>libreoffice -math</command>
    </action>
  </item>
  <item label="Base">
    <action name="Execute">
      <command>libreoffice -base</command>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
    </action>
  </item>
  <item label="Rxvt Unicode">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>
  <item label="Nautilus">
    <action name="Execute">
      <command>nautilus</command>
    </action>
  </item>
  <item label="FileZilla">
    <action name="Execute">
      <command>filezilla</command>
    </action>
  </item>
  <item label="Deluge">
    <action name="Execute">
      <command>deluge</command>
    </action>
  </item>
  <item label="Skype">
    <action name="Execute">
      <command>skype</command>
    </action>
  </item>
  <menu id="libreoffice"/>
  <item label="GIMP">
    <action name="Execute">
      <command>gimp</command>
    </action>
  </item>
  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
    </action>
  </item>
  <item label="Dia">
    <action name="Execute">
      <command>dia</command>
    </action>
  </item>
  <separator />
  <item label="Wicd">
    <action name="Execute">
      <command>wicd-client -n</command>
    </action>
  </item>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
